* {
    box-sizing:border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

html, body {
    margin:0px;
    padding:0px;
}

.container {padding:15px;
background-color:#555;
color:white;}

.groupPlayContainer {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.groupPlayCard {
    padding:0px;
    border: solid 1px gray;
    margin:20px;
}

.groupPlayHeader {
    background-color:#333;
    padding:5px 30px;
    text-align:center;
}

table {
    width:100%;
}

table, tbody, tr, td {
    margin:0px;
    padding:0px;
    border-collapse: collapse;

}

td {
    border:solid 1px gray;
    padding:5px 10px;
}