name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: DotnetScript
      run: dotnet tool install -g dotnet-script
    - name: RunScript1
      run: cd scripts
    - name: RunScript2
      run: dotnet-script main.csx
